<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao interface - mapper --> 
<mapper namespace="com.ych.pjt.dao.IAdminDao">

	<select id="userList" resultType="com.ych.pjt.dto.UserDataDto">
	select userId,userName,userDate,userAuth from userData
	</select>
	
	<select id="userName" resultType="com.ych.pjt.dto.UserDataDto">
	select  username userdata where USERNAME like concat('%',#{userName},'%') 
	</select>
	
	<update id="changeGrade" parameterType="com.ych.pjt.dto.UserDataDto">
		update userData set userAuth = #{userAuth} where userId = #{userId}
	</update>
	
</mapper>
