<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao interface - mapper --> 
<mapper namespace="com.ych.pjt.dao.IAdminDao">

<!-- user Role change -->
<select id="userList" resultType="com.ych.pjt.dto.UserDataDto">
	SELECT USERID,USERNAME,USERDATE,USERAUTH FROM userData 
</select>
<select id="userName" resultType="com.ych.pjt.dto.UserDataDto">
	SELECT USERNAME FROM userData WHERE USERNAME LIKE CONCAT('%',#{userName},'%') 
</select>	
<update id="changeGrade" parameterType="com.ych.pjt.dto.UserDataDto">
	UPDATE userData SET USERAUTH=#{userAuth} WHERE USERID=#{userId}
</update>

<!-- Information Board -->
<select id="infoBoardHome" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData WHERE INFOCONDITION="10" AND INFOTITLE NOT LIKE '*#reply%' ORDER BY INFONUM DESC
</select> 
<select id="infoDetailsHome" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData WHERE INFONUM=#{infoNum}
</select>
<select id="infoBoardManage" resultType="com.ych.pjt.dto.InfoBoardDto">
	<!-- ORACLE SQL
	<![CDATA[
		SELECT * FROM(
			SELECT A.*, ROWNUM AS RNUM FROM 
				(SELECT * FROM InfoData ORDER BY INFONUM DESC)
			A) 
		WHERE INFONUM < 11
	]]> -->
	SELECT * FROM InfoData WHERE INFOTITLE NOT LIKE '*#reply%' ORDER BY INFONUM DESC LIMIT 10
</select>		
<select id="infoPageList" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData AND INFOTITLE NOT LIKE '*#reply%' ORDER BY INFONUM DESC LIMIT #{startN}, 10
</select>
<insert id="infoWrite" parameterType="com.ych.pjt.dto.InfoBoardDto">
	INSERT INTO InfoData (INFONUM,INFOTYPE,INFOAUTHOR,INFOAUTH,INFOUPDATEDATE,INFOTITLE,INFOCONTENT,INFOINDENT,INFOHIT,INFOCONDITION) 
	VALUES ((SELECT nextval('infoseq') FROM DUAL),#{infoType},#{infoAuthor},#{infoAuth},now(),#{infoTitle},#{infoContent},0,0,#{infoCondition})
</insert>
<update id="infoGroupUpdate">
	UPDATE InfoData SET INFOGROUP=INFONUM
</update>
<select id="infoListMain" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData WHERE INFOCONDITION="10" AND INFOTITLE NOT LIKE '*#reply%' ORDER BY INFONUM DESC LIMIT 10
</select>
<select id="infoBoardList"  resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData WHERE INFOCONDITION="10" AND INFOTITLE NOT LIKE '*#reply%' ORDER BY INFONUM DESC LIMIT 50
</select>
<select id="infoBoardPagelist" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData WHERE INFOCONDITION="10" AND INFOTITLE NOT LIKE '*#reply%' ORDER BY INFONUM DESC LIMIT #{startN}, 50
</select>
<update id="infoBoardHit">
	UPDATE infoData SET INFOHIT=INFOHIT+1 WHERE INFONUM=#{infoNum}
</update>
<select id="infoDetailsUser" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData WHERE INFONUM=#{infoNum}
</select>
<select id="infoDetailsPreview" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData WHERE INFONUM=#{infoNum}
</select>
<select id="infoModifyView" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData WHERE INFONUM=#{infoNum}
</select>
<update id="infoModify" parameterType="com.ych.pjt.dto.InfoBoardDto">
	UPDATE InfoData SET INFOAUTHOR=#{infoAuthor},INFOAUTH=#{infoAuth},INFOUPDATEDATE=#{infoUpdateDate},INFOTITLE=#{infoTitle},INFOCONTENT=#{infoContent} WHERE INFONUM=#{infoNum}
</update>
<delete id="infoDelete">
	DELETE FROM InfoData WHERE INFONUM=#{infoNum}
</delete>

<!-- infoBoard reply -->
<select id="infoReplyCheck" resultType="java.sql.Timestamp">
	SELECT INFODATE FROM InfoData WHERE INFOAUTHOR=#{infoAuthor} AND INFODATE > (SELECT subtime(now(),'00:10:00')) AND INFOTITLE LIKE '*#reply%'
</select>
<insert id="infoReplyInsert" parameterType="com.ych.pjt.dto.InfoBoardDto">
	INSERT INTO InfoData (INFONUM,INFOTYPE,INFOAUTHOR,INFOAUTH,INFOUPDATEDATE,INFOTITLE,INFOCONTENT,INFOGROUP,INFOINDENT,INFOCONDITION)
	VALUES(
		(SELECT nextval('infoseq') FROM DUAL),
		#{infoType},#{infoAuthor},
		#{infoAuth},
		now(),
		#{infoTitle},
		#{infoContent},
		#{infoGroup},
		(SELECT NUM FROM 
			(SELECT MAX(INFOINDENT)+1 AS NUM FROM InfoData WHERE INFOGROUP=#{infoGroup}) 
		A),
		#{infoCondition})
</insert>
<select id="infoDetailsReplyList" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData WHERE INFOGROUP=#{infoGroup} AND INFOTITLE LIKE '*#reply%' AND INFOCONDITION=-10 ORDER BY INFODATE ASC
</select>
<delete id="infoReplyDelete">
	DELETE FROM InfoData WHERE INFONUM=#{infoNum}
</delete>
<select id="maxIndent" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT INFOGROUP, COUNT(INFOINDENT)-1 AS INFOUNDENT FROM InfoData GROUP BY INFOGROUP 
</select>
</mapper>
