<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao interface - mapper --> 
<mapper namespace="com.ych.pjt.dao.IAdminDao">

<!-- user Role change -->
<select id="userList" resultType="com.ych.pjt.dto.UserDataDto">
	SELECT USERID,USERNAME,USERDATE,USERAUTH FROM userData 
</select>
<select id="userName" resultType="com.ych.pjt.dto.UserDataDto">
	SELECT USERNAME FROM userData WHERE USERNAME LIKE CONCAT('%',#{userName},'%') 
</select>	
<update id="changeGrade" parameterType="com.ych.pjt.dto.UserDataDto">
	UPDATE userData SET USERAUTH=#{userAuth} WHERE USERID=#{userId}
</update>
<!-- Information Board -->
<select id="infoBoardHome" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData WHERE INFOCONDITION="10" ORDER BY INFONUM DESC
</select> 
<select id="infoBoardManage" resultType="com.ych.pjt.dto.InfoBoardDto">
	<!-- ORACLE SQL
	<![CDATA[
		SELECT * FROM(
			SELECT A.*, ROWNUM AS RNUM FROM 
				(SELECT * FROM InfoData ORDER BY INFONUM DESC)
			A) 
		WHERE INFONUM < 11
	]]> -->
	SELECT * FROM InfoData ORDER BY INFONUM DESC LIMIT 10
</select>		
<select id="infoPageList" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData ORDER BY INFONUM DESC LIMIT #{startN}, 10
</select>
<insert id="infoWrite" parameterType="com.ych.pjt.dto.InfoBoardDto">
	INSERT INTO InfoData (INFONUM,INFOTYPE,INFOAUTHOR,INFOAUTH,INFOTITLE,INFOCONTENT,INFOCONDITION) 
	VALUES ((SELECT nextval('infoseq') FROM DUAL),#{infoType},#{infoAuthor},#{infoAuth},#{infoTitle},#{infoContent},#{infoCondition})
</insert>
<select id="infoListMain" resultType="com.ych.pjt.dto.InfoBoardDto">
	SELECT * FROM InfoData ORDER BY INFONUM DESC LIMIT 10
</select>
</mapper>
