<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao interface - mapper --> 
<mapper namespace="com.ych.pjt.dao.ICafeDao">
		<select id="cafeList" resultType="com.ych.pjt.dto.CafeDto">
			SELECT * FROM CAFELIST ORDER BY CAFENO DESC
		</select>
		
		<insert id="studyroomWrite" parameterType="com.ych.pjt.dto.CafeDto">
			insert into CAFELIST(CAFENO,CAFENAME, CAFELOCATION, CAFEPRICE, CAFEIMAGE, CAFEMEMBER, CAFELIKE, CAFEINTRO, CAFETEL, CAFETIME)
			values(0,#{cafeName},#{cafeLocation},#{cafePrice},#{cafeImage},#{cafeMember}, 0, #{cafeIntro} ,#{cafeTel} ,#{cafeTime})
		</insert>
</mapper>
