<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao interface - mapper --> 
<mapper namespace="com.ych.pjt.dao.IResDao">

<insert id="res" parameterType="com.ych.pjt.dto.ResDto">
INSERT INTO restbl(RESNUM,RESNAME,RESBIRTH,RESPHONE,RESDATE,RESTIME,RESMEMBER,PAYMENTS,RESCOMMENTS,CAFEPHONE)
VALUES((SELECT nextval('resseq') FROM DUAL), #{resName},#{resBirth},#{resPhone},#{resDate},#{resTime},#{resMember},#{payMents},#{resComments},#{cafePhone})
</insert> 

<select id="myResInfo" resultType="com.ych.pjt.dto.ResDto">
SELECT * FROM restbl ORDER BY RESNUM
</select>

<select id="resModifyView" resultType="com.ych.pjt.dto.ResDto">
SELECT * FROM restbl where RESNUM = #{resNum}
</select>

<update id="resModify" parameterType="com.ych.pjt.dto.ResDto">
UPDATE restbl SET 
RESNUM = #{resNum},
RESNAME = #{resName},
RESBIRTH = #{resBirth},
RESPHONE = #{resPhone},
RESDATE = #{resDate},
RESTIME = #{resTime},
RESMEMBER = #{resMember},
PAYMENTS = #{payMents},
CAFEPHONE = #{cafePhone},
RESCOMMENTS = #{resComments}
WHERE RESNUM = #{resNum}
</update>

<select id="resDeleteView" resultType="com.ych.pjt.dto.ResDto">
SELECT * FROM restbl WHERE RESNUM = #{resNum}
</select>

<delete id="resDelete">
	DELETE FROM restbl WHERE RESNUM = #{resNum}
</delete>
</mapper>
