<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao interface - mapper --> 
<mapper namespace="com.ych.pjt.dao.IResDao">
<insert id="res" parameterType="com.ych.pjt.dto.ResDto">
INSERT INTO restbl(RESNUM,RESNAME,RESBIRTH,RESPHONE,RESDATE,RESTIME,RESMEMBER,PAYMENTS,RESCOMMENTS,CAFEPHONE)
VALUES((SELECT nextval('resseq') FROM DUAL), #{resName},#{resBirth},#{resPhone},#{resDate},#{resTime},#{resMember},#{payMents},#{resComments},#{cafePhone})
</insert>

<select id="myResInfo" resultType="com.ych.pjt.dto.ResDto">
select * from restbl order by RESNUM
</select>
</mapper>
