@charset "UTF-8";
#infoBoardPage{
    height: 100%;
    text-align: center;
}
#infoBoardTitle{
    font-weight: 900;
}
#infoBoardNav{
    text-align: center;
    margin-bottom: 2rem;
}
.infoBoardNav{
    border:0;
    margin-right: 3vw;
    margin-left: 3vw;
}
#infoTable td{
	font-size: 1.8vw;
}
#infoTable a {
    color: #000;
}
#infoPagination .page-link{
	color:gray;
}
#infoPagination .page-item.active .page-link{
	background-color: #000;
	color:#fff;
}