@charset "UTF-8";
#mainRagion{
    min-height: 80%;
}
#mainRagion{
	margin-top:10px;
	margin-bottom:10px;
	height: 100%;
	min-height: 90vw;
}

.mainTBL{
    width:100%;
    font-size: 1vw;
}

.mainTBL a {color: #000;}

#mainTBL th, #mainTBL td{
    text-align: center;
}
