#topButton{
    width: 100%;
    height: 10%;
    text-align: center;
    color:#fff;
    background-color: #000;
    display: block;
}
a{
    text-decoration: none;
}
#myInfoBox{
    max-width: 50%;
    width: fit-content;
    margin-left:auto;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    border: 3px solid lightgray;
    border-radius: 10px;
}
.myInfoLink{
    color:#000;
}

#myInfoLink {
    font-weight: 700;
}
.nav-link{
   color:black; 
}
.dropdown {
    cursor: pointer;
}
.mainNav{
	background-color: cornsilk;
}
.mainLogo{
	display:none;
}
@media screen and (min-width: 993px){
	#myInfoBox{
		margin: auto;
		font-weight: 600;
		border: solid #0000008c 0.7rem;
	}
	.mainNav .nav {
	    margin: auto;
	    font-size: 1.4rem;
	    font-weight: 700;
	}
	.mainLogo{
		display:inline-block;
		font-size: 5rem;
		margin: auto;
		font-weight: bolder;
	}
}
@media screen and (max-width: 575px){
	#myInfoBox{
		width:100%;
		max-width: 100%;
		height: fit-content;
	}
	.mainLogo{
		display: block;
		font-size: 1rem;
		margin: auto;
		font-weight: bolder;
	}
	#myInfoBox p {
    	margin-bottom: 0.2rem;
	}
}
